$font-adres: '../fonts/';
 
$font-name:(              
        'Poppins-Bold',
        'Poppins-Lightitalic',
        'Poppins-Regular',
        'Poppins-Light'
);
 
@each $current-font in $font-name {
  @font-face {
    font-family: $current-font;
    src: url('#{$font-adres}#{$current-font}.ttf'); 
    font-weight: normal;
    font-style: normal;
  }
}
 
 
@mixin helvetica($style : map-get($font-name, 0)) { 
  @each $current-font in $font-name {
    @if $style == $current-font
    {font-family: $current-font;}
  }
}
 