.page-4 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .generator-container {
        background-color: #4d1a7c;
        min-width: 400px;
        box-shadow: 0 4px 10px rgba($color: #000, $alpha: 0.5);

        .generator-header {
            padding: 1rem;
        }

        .generator-body {
            padding: 0 1rem 1rem;

            .control {
                display: flex;
                justify-content: space-between;
                margin: 0.5rem 0;
            }
        }

        .password {
            background-color: #7718b29e;
            height: 70px;
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            font-size: 2rem;
            padding: 1rem;

            & button {
                position: absolute;
                padding: 0.25rem;
                background-color: #57418a;
                border: none;
                font-size: 0.7rem;
                color: #fff;
                font-weight: bold;
                top: 19px;
                right: 0;
                opacity: 0;
                transition: 0.2s;
                transform: translate(0, -50%);

                --animate-duration: 0.2s;
            }   

            &:hover button {
                opacity: 1;
                transform: translate(0, -80%);
            }
        }

        .generate {
            display: block;
            background-color: #ecb602;
            color: rebeccapurple;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 0.75rem;
            border: none;
            width: 100%;

        }
    }
}

.toast {
    color: #000;
}